.h1{
  font-weight: bold;
  font-size: 30px;
}

.navbar-brand{
  margin-left: 40px;
}

.column{
  border: black;
}

.test{
  margin: 330px;

}

.page-content{
  display: flex;
  flex-direction: row;
}

.main-page-content{
  margin: 30px;
}

.cards-collection{
  display: flex;
  flex-direction: row;
}
.card{
  width: 150px;
  height: 150px;
  margin: 10px;
}

.card-footer-item:not(:last-child) {
  border: 0px solid white !important
}

.content{
  min-height: 50px;
}

.li > a {
  width: 50px;
}

.button {
  margin: 10px;
}

.fa-trash{
  color: red;
  opacity: 0.5;
  size: 3x;
}

.i:hover{
  color: red;
}