* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  font-size: 0.8rem;
}

.h1 {
  font-weight: bold;
  font-size: 30px;
}

.navbar-brand {
  margin-left: 40px;
}

.column {
  border: black;
}

.test {
  margin: 330px;
}

.page-content {
  display: flex;
  flex-direction: row;
  min-height: 800px;
  width: 100%;
  height: 100%;
}

.main-page-content {
  margin: 30px;
  min-height: 750px;
}

.sidebar {
  width: 13rem;
}

.box {
  min-height: 100%;
}

.section {
  padding: 1rem 1.5rem;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 0 0 10px;
  font-size: 1.1rem;
}

.add-btn {
  border-color: #53C1A0 !important;
  border-top-color: #53C1A0 !important;
  border-right-color: #53C1A0 !important;
  border-bottom-color: #53C1A0 !important;
  border-left-color: #53C1A0 !important;
  color: #53C1A0 !important;
}

.page-header-quotes {
  color: #5476E8;
}

.page-header-products {
  color: #1D1D1B;
}

.page-header-services {
  color: #672E7A;
}

.cards-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 200px;
  height: 200px;
  margin: 10px;
  font-size: 0.8rem;
}

.card-new-quote {
  background-color: #5476E8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content-new-quote {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.card-content-quotes {
  color: #5476E8;
}

.card-new-product{
  background-color: #FF948D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content-new-product {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.card-content-products {
  color: #1D1D1B;
}

.card-new-service{
  background-color: #53C1A0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content-new-service {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.card-content-services {
  color: #672E7A;
}

.card-footer-item:not(:last-child) {
  border: 0px solid white !important;
}

.card-footer a {
  min-width: 75px;
}

.content {
  min-height: 100px;
}

.li>a {
  width: 50px;
}

.button {
  margin: 10px;
}

.fa, .fas {
  font-weight: 549;
}

.fa-trash {
  color: #FF948D;
  font-size: 0.8rem;
}

.fa-icon-caption {
  margin: 2px;
}

.edit-quote-btn {
  color: #5476E8;
  font-size: 0.8rem;
  font-weight: 0;
}

.edit-product-btn {
  color: #6B51C8;
  font-size: 0.8rem;
  width: 100%;
}

.edit-service-btn {
  color: #672E7A;
  font-size: 0.8rem;
}

.i:hover {
  color: red;
}

.quote-buttons {
  margin: 25px 300px 0 300px;
  text-align: right;
}

.quote-template {
  min-height: 400px;
  margin: 0 300px 100px 300px;
  border: 1px solid black;
  background-color: white;
}

.quote-header {
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-item-logo {
  padding: 13px 0 0 0 !important;
  align-items: baseline !important;
}

.navbar-logo {
  height: 28px !important;
  width: 109px !important;
}

.company-logo {
  margin: 30px 30px 30px 60px;
  width: 100px;
}

.quote-title {
  margin: 30px 60px 30px 30px;
  width: 100%;
  font-size: 3em;
  text-align: right;
}

.quote-sub-header {
  margin: 0 30px 0px 30px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.05px solid grey;
  padding: 0 0 20px 0;
}

.company-info {
  width: 200px;
  margin: 10px;
}

.quote-info {
  width: 250px;
  margin: 10px;
}

.customer-info input {
  width: 100%;
}

.quote-products {
  height: 650px;
  margin: 30px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.product-picker {
  margin: 0 auto;
  width: 650px;
}

.quote-edit-product-picker {
  margin: 0;
  width: 650px;
}

.product-picker-button {
  width: 100%;
  text-align: end;
}

.select {
  max-width: 150% !important;
}

.select-default {
  width: 650px;
}

.quote-porduct-list {
  width: 650px;
}

.quote-product-line {
  width: 650px;
  height: 50px;
  margin: 10px 0 10px 0;
  padding: 5px;
  border-bottom: 0.5px solid grey;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.quote-product-info {
  width: 650px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.quote-product-media {
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: center;
}

.quote-product-image {
  width: 40px;
}

.quote-product-name {
  width: 450px;
  text-align: left;
}

.quote-product-price {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.quote-product-subtotal-title {
  margin: 0 10px;
  width: 90px;
}

.quote-product-vat-title {
  margin: 0 10px;
  width: 90px;
}

.quote-product-checkout-title {
  margin: 0 10px;
  width: 90px;
}

.public-quote {
  background-color: #f7f7f7;
  padding: 50px 0 0 0;
}

.create-quote {
  background-color: #f7f7f7;
}

.edit-quote {
  background-color: #f7f7f7;
}

.quotes-list {
  min-height: 750px;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.products-list {
  min-height: 750px;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.services-list {
  min-height: 750px;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.login-page {
  align-items: center !important;
}

.login {
  width: 300px;
  height: 100%;
}

.login input {
  margin: 10px !important;
}